<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Template</Template></title>
</head>
<body>
  <h1>{{ title }}</h1>
  <hr>
  <!-- <h2>My Favorite Foods</h2>
  <h3>1. {{ foods[0] }}</h3>
  <h3>1. {{ foods[1] }}</h3>
  <h3>1. {{ foods[2] }}</h3>
  <h3>1. {{ foods[4] }}</h3> -->
  <!-- <ol>
    <li>{{foods[0]}}</li>
    <li>{{foods[1]}}</li>
    <li>{{foods[2]}}</li>
    <li>{{foods[3]}}</li>
  </ol> -->
  <ol>
    {% for element in collection %}
        <li>{{food}}</li>
    {% endfor %}
  </ol>
</body>
</html>